.product-block {
  background-color: $white;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  figure{
    margin: 25px;
    img{
      object-fit: contain;
    }
  }
  .name{
    font-weight: 500;
    font-size: 13px;
    color: $black;
    margin-bottom: 15px;
    min-height: 32px;
  }
  del, .installments{
    font-size: 12px;
    color: #909090;
  }
  ins{
    font-size: 20px;
    color: $green;
    font-weight: 900;
    text-decoration: underline;
  }
  button{
    margin-top: 15px;
    border-radius: 5px;
    background-color: $green;
    padding: 13px 60px;
    font-weight: 700;
    font-size: 13px;
    transition: .2s;
    &:hover{
      background-color: $black;
      color: $green;
    }
  }
}
