* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 1vw, 22px);
}

body {
  font-family: $font-family !important;
  background-color: #F1F1F1;
  main {
    min-height: 70vh;
  }
}

a {
  transition: color 300ms ease;
}

a,
button,
input {
  font-family: $font-family;
  // para remover as bordas arredondadas do safari mob
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 15px;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  @extend %container;
}

.aspect-ratio {
  position: relative;
  overflow: hidden;

  &.square {
    padding-bottom: 100%;
  }

  &.horizontal {
    padding-bottom: 46%;
  }

  &.horizontal-thin {
    padding-bottom: 26%;
		@include media('xs'){
			padding-bottom: 55%;
		}
  }

  &.vertical {
    padding-bottom: 146%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
