$white: #fff;
$black: #000000;
$gray: #707070;
$green: #34CB2E;

$color-accent: #bdfb7f;
$color-text: #498d04;


$font-family: "Poppins", monospace;

$font-size-base: 14px;
$font-line-height: 1.5;
$font-weight-base: 400;

$font-size-small: 1.2rem; // 12px
$font-size-big: 1.143rem; // 16px
$font-size-medium: 1.575rem; // 16px
$font-size-title: 2.286rem; // 32px
