@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: currentColor;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  max-width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  cursor: pointer;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  border: 0;
  background: transparent;
  box-shadow: 0;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1400px;
}

.skeleton {
  background-color: #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  animation: shimmer 2s infinite;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 1vw, 22px);
}

body {
  font-family: "Montserrat", monospace !important;
  background-color: #F1F1F1;
}
body main {
  min-height: 70vh;
}

a {
  transition: color 300ms ease;
}

a,
button,
input {
  font-family: "Montserrat", monospace;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 15px;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

section.section {
  padding-top: 4rem;
  padding-bottom: 4.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .flex {
    flex-direction: column;
  }
}

.block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .block {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Lazy Load */
.aspect-ratio {
  position: relative;
  overflow: hidden;
}
.aspect-ratio.square {
  padding-bottom: 100%;
}
.aspect-ratio.horizontal {
  padding-bottom: 46%;
}
.aspect-ratio.horizontal-thin {
  padding-bottom: 26%;
}
@media (max-width: 767px) {
  .aspect-ratio.horizontal-thin {
    padding-bottom: 55%;
  }
}
.aspect-ratio.vertical {
  padding-bottom: 146%;
}
.aspect-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lazy {
  opacity: 0;
  transition: all 200ms ease;
}
.lazy.loaded {
  opacity: 1;
}
.lazy.loaded + .skeleton {
  opacity: 0;
}

header .topbar {
  font-size: 12px;
  letter-spacing: 4.8px;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  padding: 7px 15px;
}
header nav {
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff;
}
header nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  header nav .logo {
    width: 25%;
  }
}
header nav .menu-mobile button svg {
  width: 30px;
  height: 30px;
}
@media (min-width: 992px) {
  header nav .menu-mobile {
    display: none;
  }
}
header nav .actions {
  display: flex;
  align-items: center;
  width: 75%;
}
header nav .actions .search {
  width: 60%;
}
@media (max-width: 767px) {
  header nav .actions .search {
    width: 100%;
    margin-bottom: 20px;
  }
}
header nav .actions .search input {
  background-color: #EDEDED;
  border-radius: 5px;
  padding: 14px;
  letter-spacing: 0px;
  color: #707070;
  width: 75%;
  height: 45px;
  border: 0;
}
@media (max-width: 767px) {
  header nav .actions .search input {
    width: 60%;
  }
}
header nav .actions .search button {
  height: 45px;
  background-color: #34CB2E;
  color: #000000;
  transition: 0.3s;
  width: 20%;
  padding: 12px 5px;
  border-radius: 5px;
  font-weight: 700;
}
@media (max-width: 767px) {
  header nav .actions .search button {
    width: 35%;
  }
}
header nav .actions .search button:hover {
  background-color: #000000;
  color: #34CB2E;
}
header nav .actions .shortcuts {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  width: 40%;
}
@media (max-width: 767px) {
  header nav .actions .shortcuts {
    width: 100%;
    flex-direction: column;
  }
}
header nav .actions .shortcuts-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 12px;
  color: #000000;
}
@media (max-width: 767px) {
  header nav .actions .shortcuts-item {
    margin-bottom: 20px;
  }
}
header nav .actions .shortcuts-item > div {
  position: relative;
}
header nav .actions .shortcuts-item > div .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 8px;
  font-weight: 700;
  background-color: #000000;
  color: #fff;
  letter-spacing: -0.2px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .actions #closeMenu {
  position: absolute;
  top: 15px;
  right: 15px;
}
header nav .actions #closeMenu svg {
  width: 30px;
  height: 30px;
}
@media (min-width: 992px) {
  header nav .actions #closeMenu {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav .actions {
    position: fixed;
    background-color: #fff;
    flex-direction: column;
    padding: 55px 15px 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 9999;
  }
  header nav .actions.active {
    transform: translateX(0);
  }
}

footer > div {
  background-color: #000000;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #fff;
  padding: 30px 0;
}
footer > div > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 767px) {
  footer > div > .container {
    flex-direction: column;
  }
}
footer > div > .container .logo {
  max-width: 185px;
  width: 100%;
}
footer > div > .container .text {
  max-width: calc(100% - 205px);
}
@media (max-width: 767px) {
  footer > div > .container .text {
    max-width: 100%;
  }
}
footer .payment {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  color: #34CB2E;
}
footer .payment .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.product-block {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
}
.product-block > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-block figure {
  margin: 25px;
}
.product-block figure img {
  object-fit: contain;
}
.product-block .name {
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  margin-bottom: 15px;
}
.product-block del, .product-block .installments {
  font-size: 12px;
  color: #909090;
}
.product-block ins {
  font-size: 20px;
  color: #34CB2E;
  font-weight: 900;
  text-decoration: underline;
}
.product-block button {
  margin-top: 15px;
  border-radius: 5px;
  background-color: #34CB2E;
  padding: 13px 60px;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}
.product-block button:hover {
  background-color: #000000;
  color: #34CB2E;
}

.banner-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.banner-grid > div {
  width: calc(50% - 5px);
}
.banner-grid > div .aspect-ratio {
  padding-bottom: 41.94%;
}
@media (max-width: 767px) {
  .banner-grid > div {
    width: 100%;
  }
}

.products-title {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .products-title {
    margin-top: 40px;
  }
}
.products .slider {
  position: relative;
}
.products .slider .slick-prev {
  left: -25px;
}
@media (max-width: 767px) {
  .products .slider .slick-prev {
    left: -5px;
  }
}
.products .slider .slick-prev:after {
  content: url("../../../static/img/prev-icon.svg");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}
.products .slider .slick-next {
  right: -25px;
}
@media (max-width: 767px) {
  .products .slider .slick-next {
    right: -5px;
  }
}
.products .slider .slick-next:after {
  content: url("../../../static/img/next-icon.svg");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}
.products .slider .slick-next, .products .slider .slick-prev {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  z-index: 9999;
  border-radius: 5px;
  padding: 5px 9px;
}
.products .slider .slick-list {
  margin: 0 -10px;
}
.products .slider .slick-slide > div {
  padding: 0 10px 25px;
}